/* 1. Design Tokens & Variables */
@import "./tokens.css";

/* 2. Global Resets & Layout */
@import "./global.css";
@import "./animations.css";

/* 3. Component Modules */
@import "./components/layout.css";
@import "./components/sidebar.css";
@import "./components/editor.css";
@import "./components/preview.css";