.split-pane {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.split-pane.horizontal {
  flex-direction: row;
}

.split-pane.vertical {
  flex-direction: column;
}

.pane {
  overflow: auto;
  position: relative;
}

.resizer {
  background: #444;
  cursor: col-resize;
  position: relative;
  user-select: none;
  z-index: 1;
}

.split-pane.horizontal .resizer {
  width: 4px;
  height: 100%;
  cursor: col-resize;
}

.split-pane.vertical .resizer {
  width: 100%;
  height: 4px;
  cursor: row-resize;
}

.resizer:hover {
  background: #666;
}

.split-pane.dragging .resizer {
  background: #007acc;
}

.split-pane.dragging {
  cursor: col-resize;
}

.split-pane.vertical.dragging {
  cursor: row-resize;
}