html, body, #root {
  height: 100%;
  margin: 0;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.editor {
  flex: 1 1 auto;
  overflow: auto;
}

.cm-editor {
  height: 100%;
}

.resizer { width: 4px; background: #444; cursor: col-resize; }

.preview { padding: 1rem 2rem; overflow-y: auto; height: 100%; }